<%= form_with model: @trip, class: 'create-trip' do |f| %>

  <% if @trip.errors.any? %>
    <ul class="errors">
      <% @trip.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <p>Please provide the following information to edit the trip list in our database:</p>

  <%= f.label :id %>
  <%= f.text_field :id %>

  <%= f.label :driver_name%>
  <%= f.select :driver_id, Driver.all.map{ |driver| [driver.name, driver.id] } %>

  <%= f.label :passenger_name%>
  <%= f.select :passenger_id, Passenger.all.map{ |pass| [pass.name, pass.id] } %>

  <%= f.label :date%>
  <%= f.text_field :date %>

  <%= f.label :cost%>
  <%= f.text_field :cost %>

  <%= f.label :rating%>
  <%= f.text_field :rating %>
  
  <%= f.submit "#{action_name} Trip", class: "trip-button" %>
<% end %>