<div>
  <h2><%= @driver.name %></h2> 
  <h2><%= @passenger.name%></h2> 
  <h2><%= @trip.cost%></h2> 
  <h2><%= @trip.rating%></h2> 
  <%= link_to "Edit", edit_trip_path(@trip) %>
  <%= link_to "Delete", trip_path(@trip), method: :delete, data: {confirm: "Are you sure?"} %>
</div>


<p><%= link_to "Return to Trips", trips_path %></p> 