<div>
  <h2><%= @passenger.id %></h2>
  <h2><%= @passenger.name %></h2> 
  <h2><%= @passenger.phone_num %></h2> 
  <%= link_to "Edit", edit_passenger_path(@passenger) %>
  <%= link_to "Delete", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure?"} %>
</div>


<p><%= link_to "Return to Passengers", passengers_path %></p> 