
<%= link_to "Request Ride", passenger_trips_path(@passenger.id), method: :post, data: { confirm: "Are you sure you want to request a trip?" } %>
<p><%= link_to "Return to Passengers", passengers_path %></p> 
<p> <strong>Total Charged:</strong> $<%= @passenger.total_charged.to_f / 100 %></p>

<table class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Phone Number</th>
    </tr>
  </thead>
  <tbody>
    <tr class="passenger_table">
      <td><%= @passenger.id %></td>
      <td><%= @passenger.name %></td>
      <td><%= @passenger.phone_num %></td>
      <td> <%= link_to "Edit", edit_passenger_path(@passenger) %></td>
      <td> <%= link_to "Delete", passenger_path(@passenger), method: :delete, data: {confirm: "Are you sure?"}%></td>

    </tr>
  </tbody>
</table>

<h1>Trips</h1>

<table class="table">
  <thead>
    <tr>
      <th>Trip id</th>
      <th>Driver's Name</th>
      <th>Passenger's Name</th>
      <th>Date</th>
      <th>Trip cost</th>
      <th>Trip rating</th>
    </tr>
  </thead>
  <tbody>
  <% @passenger.trips.each do |trip| %>
  
    <tr>
      <td><%= link_to trip.id, trip_path(trip.id) %></td>
      <td><%= link_to trip.driver.name, driver_path(trip.driver) %></td>
      <td><%= link_to trip.passenger.name, passenger_path(trip.passenger.id) %></td>
      <td><%= trip.date %></td>
      <td><%= trip.cost.to_f / 100 %></td>
      <td><%= trip.rating %></td>
      <td class="btn-table"> <%= link_to "Edit", edit_trip_path(trip.id) %></td>
      <td class="btn-table"><%= link_to "Delete", trip_path(trip.id), method: :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
  </tbody>
  <%end%>
</table>