<div>
  <h2><%= @passenger.id %></h2>
  <h2><%= @passenger.name %></h2> 
  <h2><%= @passenger.phone_num %></h2> 
  <%# <%= link_to "Edit", edit_book_path(@book) %>
  <%# <%= link_to "Delete", book_path(@book), method: :delete, data: {confirm: "Are you sure?"}%> 
</div>


<p><%= link_to "Return to Trips", root_path %></p> 