
<%= form_with model: @driver, class: 'create-driver' do |f| %>

  <% if @driver.errors.any? %>
    <ul class="errors">
      <% @driver.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
      <% end %>
    </ul>
  <% end %>

  <p>Please provide the following information to edit the driver in our database:</p>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :vin %>
  <%= f.text_field :vin %>
  
  <%= f.label :available %>
  <%= f.select :available, [false, true]%>

  <%= f.submit action_name , class: "driver-button" %>
<% end %>