<div>
  <h1><%= @driver.id %></h1>
  <h2><%= @driver.name %></h2>
  <h2><%= @driver.vin %></h2> 
  <h2><%= @driver.available %></h2>
  
  <%= link_to "Edit", edit_driver_path(@driver) %>
  <%= link_to "Delete", driver_path(@driver), method: :delete, data: {confirm: "Are you sure?"}%>
</div>

<p><%= link_to "Return to driver List", drivers_path %></p> 